# GraphQL endpoint
SHIKI_BASE_HOST=https://shikimori.io

# OAuth
SHIKI_CLIENT_ID=your_client_id_here
SHIKI_CLIENT_SECRET=your_client_secret_here

SHIKI_AUTH_CODE=your_auth_code_here

SHIKI_ACCESS_TOKEN=your_access_token_here
SHIKI_REFRESH_TOKEN=your_refresh_token_here
